scikit-learn
nltk==3.2.5  # in addition it is needed to download some data-packages
numpy
scipy
gensim
pywsd==1.1.7
glove_python
pandas
pathos
textblob
matplotlib
mock
pathlib
cython

# sudo apt-get install python-tk # for manual labeling
theano # (when installing with gpu, install libgpuarray using instructions + install pygpu)
# for the SOTA sentiment expert
tensorflow==0.12.0
tqdm
